@charset "UTF-8";
/*! ========================================
※※※※※※※※※※※※※※※※※※※※※※※※※※※
  このCSSファイルはSassから生成されていますので、
  編集しないようご注意ください。 by t.hikichi
※※※※※※※※※※※※※※※※※※※※※※※※※※※
========================================= */
/*
* タイトル等で両端にボーダーを指定する
* タイトル部分を中央寄せにする場合はCenter寄せを指定したdivでラッピングする
*/
/*
* 適用するCSSのプロパティ
* アニメーションの時間
* 変化のパターンを選択 ease / linear / ease-in / ease-out / ease-in-out / cubic-bezier(数値, 数値, 数値, 数値)
* 変化がはじまるまでの時間を設定
*/
/*
* 適用するCSSのプロパティ
* アニメーションの時間
* 変化のパターンを選択 ease / linear / ease-in / ease-out / ease-in-out / cubic-bezier(数値, 数値, 数値, 数値)
* 変化がはじまるまでの時間を設定
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");
.subvisual__inner { display: table; width: 100%; height: 100%; }

.subvisual__inner-main { display: table-cell; width: 100%; height: 100%; text-align: center; vertical-align: middle; }

.button__1--reset, .button__1--submit { background-color: #6ea364; padding: 5px 0; color: #FFF; border: none; font-size: 16px; display: inline-block; min-width: 100px; }
.button__1--reset:hover, .button__1--submit:hover { background-color: rgba(110, 163, 100, 0.7); }

.title-1 { text-align: center; overflow: hidden; }

.title-1__inner { display: inline-block; position: relative; }
.title-1__inner::before, .title-1__inner::after { content: ''; width: 3000px; height: 1px; background-color: #000; position: absolute; top: 48%; }
.title-1__inner::before { right: calc(100% + 20px); }
.title-1__inner::after { left: calc(100% + 20px); }

.subvisual__container, .breadcrumb__container, .block5__container, .block7__container, .block13__container, .block2__container { margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; }
@media only screen and (min-width: 768px) { .subvisual__container, .breadcrumb__container, .block5__container, .block7__container, .block13__container, .block2__container { width: 750px; } }
@media only screen and (min-width: 992px) { .subvisual__container, .breadcrumb__container, .block5__container, .block7__container, .block13__container, .block2__container { width: 970px; } }
@media only screen and (min-width: 1200px) { .subvisual__container, .breadcrumb__container, .block5__container, .block7__container, .block13__container, .block2__container { width: 1200px; } }
.subvisual__container::before, .breadcrumb__container::before, .block5__container::before, .block7__container::before, .block13__container::before, .block2__container::before, .subvisual__container::after, .breadcrumb__container::after, .block5__container::after, .block7__container::after, .block13__container::after, .block2__container::after { clear: both; content: ''; }

.block-7__list, .sform__row, .block2__list, .block2__box-inner { display: flex; }
.gallery { display: flex; flex-wrap: wrap; }

/* Fonts */
/*--------------------------------------------------*/
.font-noto-serif-jp { font-family: 'Noto Serif JP', serif; }

.font-noto-sans-jp { font-family: 'Noto Sans JP', sans-serif; transform: rotate(10deg); }

/* Font set */
/*--------------------------------------------------*/
.fontSize5 { font-size: 24px; }

/* Font set */
/*--------------------------------------------------*/
.fontSet5 { font-family: 'Noto Serif JP', serif; font-size: 24px; }

@media (max-width: 991px) { .fontSet5 { font-size: 20px; } }
@media (max-width: 650px) { .fontSet5 { font-size: 16px; } }
@media (max-width: 575px) { .fontSet5 { font-size: 12px; } }
.slider-nav-img { width: 140px; }

.container-1170 { margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; }
.container-1170::before, .container-1170::after { display: table; clear: both; content: ''; }
@media only screen and (min-width: 768px) { .container-1170 { width: 750px; } }
@media only screen and (min-width: 992px) { .container-1170 { width: 970px; } }
@media only screen and (min-width: 1200px) { .container-1170 { width: 1170px; } }

.bg-lightGray { background-color: #F4F4F4 !important; }

.bg-lightGray2 { background-color: #FEFEFE !important; }

.bg-gray { background-color: #CCC !important; }

.borderTop { border-top: 1px solid #CCC; }

.borderBtn { border-bottom: 1px solid #CCC; }

.table { display: table; width: 100%; height: 100%; }

.table-cell { display: table-cell; width: 100%; height: 100%; text-align: center; vertical-align: middle; }

.table-cell.__left { text-align: left; }

.color-white { color: #FFF; }

.color-lightBrue { color: #5a89f3; }

.color-lightGray { color: #F4F4F4; }

.bgColor-white { background-color: #FFF; }

.bgColor-lightBrue { background-color: #5a89f3; }

.bgColor-lightGray { background-color: #F4F4F4; }

.underline-dotted { border-bottom: 1px dotted #CCC; }

.underline-solid { border-bottom: 1px solid #CCC; }

.underline-dashed { border-bottom: 1px dashed #CCC; }

.borderT-dotted { border-top: 1px dotted #CCC; }

.borderT-solid { border-top: 1px solid #CCC; }

.borderT-dashed { border-top: 1px dashed #CCC; }

.border-dotted { border: 1px dotted #CCC; }

.border-solid { border: 1px solid #CCC; }

.border-dashed { border: 1px dashed #CCC; }

.inner-wide { padding: 50px; }

.inner-normal { padding: 30px; }

.inner-narrow { padding: 15px; }

.block { display: block; }

.inline-block { display: inline-block; }

.valign-middle { vertical-align: middle; }

.hover-underline:hover { text-decoration: underline; }

.hover-nonUnderline { text-decoration: underline; }
.hover-nonUnderline:hover { text-decoration: none; }

.fadeIn-1 { opacity: 0; animation-name: fadeIn1; animation-duration: 0.25s; animation-timing-function: ease-out; animation-delay: 0s; animation-iteration-count: 1; animation-direction: normal; animation-fill-mode: forwards; }

@keyframes fadeIn1 { 0% { opacity: 0; }
  100% { opacity: 1; } }
/* Fonts */
/*--------------------------------------------------*/
.font-noto-serif-jp { font-family: 'Noto Serif JP', serif; }

.font-noto-sans-jp { font-family: 'Noto Sans JP', sans-serif; transform: rotate(10deg); }

.font-sawarabi-mincho { font-family: 'Sawarabi Mincho', sans-serif; }

/* Font set */
/*--------------------------------------------------*/
.fontSize5 { font-size: 24px; }

/* Font set */
/*--------------------------------------------------*/
@media (max-width: 991px) { .fontSet5 { font-size: 20px; } }
@media (max-width: 650px) { .fontSet5 { font-size: 16px; } }
@media (max-width: 575px) { .fontSet5 { font-size: 12px; } }
.slider-nav-img { width: 140px; }

/* Taglist */
/*--------------------------------------------------*/
.taglist-1 > li { float: left; margin-right: 2px; margin-bottom: 2px; }

.taglist-1 > li > a { display: block; background-color: #6ea364; color: #FFF; padding: 2px 10px 1px 10px; font-size: 13px; }

.taglist-2::after { content: ""; display: block; clear: both; }
.taglist-2.__iBlock { display: inline-block; }

.taglist-2 > li { float: left; margin-right: 2px; margin-bottom: 2px; }

.taglist-2 > li > a { display: block; background-color: #c04c41; color: #FFF; padding: 2px 10px 1px 10px; font-size: 13px; }

.taglist-3::after { content: ""; display: block; clear: both; }
.taglist-3.__iBlock { display: inline-block; }

.taglist-3 > li { float: left; margin-right: 2px; margin-bottom: 2px; }

.taglist-3 > li > a { display: block; background-color: #6ea364; color: #FFF; padding: 5px 20px 5px 20px; font-size: 14px; }

/* BGColor */
/*--------------------------------------------------*/
.bg-green { background-color: #6ea364; }

.bg-test { background-color: red; }

/* BG Image */
/*--------------------------------------------------*/
.bg-img-1 { position: relative; }

.bg-img-1::before { content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-image: url(../images/common/bg-1.png); z-index: -2; }

/* link-color-1 */
/*--------------------------------------------------*/
.link-color-1 { color: #5a89f3; }

/* text-normal */
/*--------------------------------------------------*/
.text-normal { font-size: 14px; color: #333; line-height: 2.0; }

/* Else */
/*--------------------------------------------------*/
.gmap-main { background-color: #CCC; }

.mml-char { margin-left: -0.5em; }

.gmap-main { height: 500px; }

.color-white { color: #FFF; }

/* tab switch */
.tab-switch-content { display: none; }

.tab-switch-content._active { display: block; }

/* モバイルファースト */
/*@media (min-width: 576px) {*/
/*@media (min-width: 768px) {*/
/*@media (min-width: 992px) {*/
/*デスクトップファースト */
@media (max-width: 1199px) { /*@media (max-width: 991px) {*/
  /*@media (max-width: 767px) {*/
  /*@media (max-width: 575px) {*/ }
/* SubVisual */
/*--------------------------------------------------*/
.subvisual { height: 250px; background-size: contain; margin-top: 70px; position: relative; background-size: 100% auto; background-position: bottom; font-size: 40px; font-family: 'Noto Serif JP', serif; color: #FFF; }
@media only screen and (max-width: 767px) { .subvisual { margin-top: 50px; height: 200px; background-size: auto 100%; font-size: 30px; } }
@media only screen and (max-width: 575px) { .subvisual { margin-top: 35px; height: 100px; font-size: 20px; } }
.subvisual::after { content: ''; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); position: absolute; top: 0; left: 0; }

.subvisual .container { height: 100%; }

.subvisual-inner > div { z-index: -1 !important; }

.subvisual__container { height: 100%; position: relative; }

.subvisual__inner { position: absolute; left: 0; top: 0; z-index: 1; }

/* Pagebody */
/*--------------------------------------------------*/
@media only screen and (min-width: 768px) { .pagebody-inner { max-width: 1200px; margin: auto; }
  .pagebody-inner::after { content: ""; display: block; clear: both; }
  .pagebody-main { float: left; width: calc(100% - 385px); padding-right: 30px; }
  .pagebody-sub { float: left; width: 385px; } }
/* Navigation Header */
/*--------------------------------------------------*/
.header-naviFolding { position: fixed; top: 0px; height: 100%; background-color: #FFF; border: 10px solid #6ea364; z-index: 150; -webkit-transition: right 0.25s 0s linear; -moz-transition: right 0.25s 0s linear; -ms-transition: right 0.25s 0s linear; -o-transition: right 0.25s 0s linear; transition: right 0.25s 0s linear; right: -30%; width: 30%; }
@media only screen and (max-width: 767px) { .header-naviFolding { right: -40%; width: 40%; } }
@media only screen and (max-width: 575px) { .header-naviFolding { right: -60%; width: 60%; } }
@media only screen and (max-width: 319px) { .header-naviFolding { right: -70%; width: 70%; } }

.header-naviFolding-close { content: ''; position: absolute; top: -10px; left: -80px; width: 70px; height: 70px; background-color: #6ea364; padding-top: 25px; padding-left: 0; }
@media only screen and (max-width: 767px) { .header-naviFolding-close { height: 50px; padding-top: 13px; } }
@media only screen and (max-width: 575px) { .header-naviFolding-close { height: 35px; padding-top: 5px; left: -60px; width: 50px; } }

.header-naviFolding.__avtive { right: 0; }

.header-naviFolding-inner { height: calc(100vh - 20px); overflow: auto; }

/* Hamburger navi */
/*--------------------------------------------------*/
.spnavi-hamburger { -webkit-transition: 440ms; transition: 440ms; text-align: center; }

.spnavi-hamburger-text { font-size: 10px; line-height: 1; letter-spacing: -0.05em; margin-top: -2px; -webkit-transition: color 440ms; transition: color 440ms; color: #ECD759; }
@media only screen and (max-width: 575px) { .spnavi-hamburger-text { margin-top: -5px; } }

.hamburger { font: inherit; display: inline-block; overflow: visible; margin: 0; padding: 0; cursor: pointer; -webkit-transition-timing-function: linear; transition-timing-function: linear; -webkit-transition-duration: .15s; transition-duration: .15s; -webkit-transition-property: opacity, -webkit-filter; -webkit-transition-property: opacity, filter, -webkit-filter; transition-property: opacity, -webkit-filter; transition-property: opacity, filter; transition-property: opacity, filter, -webkit-filter; text-transform: none; color: inherit; border: 0; background-color: transparent; }

.ua-nontouch .hamburger:hover { opacity: .7; }

.hamburger-box { position: relative; display: inline-block; width: 25px; height: 15px; }

.hamburger-inner { top: 50%; display: block; margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after { position: absolute; width: 25px; height: 3px; -webkit-transition-timing-function: ease; transition-timing-function: ease; -webkit-transition-duration: .15s; transition-duration: .15s; border-radius: 4px; background-color: #ECD759; }

.hamburger-inner::before, .hamburger-inner::after { display: block; content: ''; }

.hamburger-inner::before { top: -7px; }

.hamburger-inner::after { bottom: -7px; }

/* Spin */
.hamburger-spin .hamburger-inner { -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); -webkit-transition-duration: .3s; transition-duration: .3s; }

.hamburger-spin .hamburger-inner::before { -webkit-transition: top .1s .34s ease-in, opacity .1s ease-in; transition: top .1s .34s ease-in, opacity .1s ease-in; }

.hamburger-spin .hamburger-inner::after { -webkit-transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); -webkit-transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

html.spnavi-opened .hamburger-spin .hamburger-inner { -webkit-transition-delay: .14s; transition-delay: .14s; -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); -webkit-transform: rotate(225deg); -ms-transform: rotate(225deg); transform: rotate(225deg); }

html.spnavi-opened .hamburger-spin .hamburger-inner::before { top: 0; -webkit-transition: top .1s ease-out, opacity .1s .14s ease-out; transition: top .1s ease-out, opacity .1s .14s ease-out; opacity: 0; }

html.spnavi-opened .hamburger-spin .hamburger-inner::after { bottom: 0; -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); }

/* Header */
/*--------------------------------------------------*/
.header { position: fixed; width: 100%; z-index: 100; background-color: white; height: 70px; }
@media only screen and (max-width: 767px) { .header { height: 50px; } }
@media only screen and (max-width: 575px) { .header { height: 35px; } }

.header .container { height: 100%; }

.header-inner { height: 100%; position: relative; }

.header-logo { width: 140px; position: absolute; }
@media only screen and (max-width: 767px) { .header-logo { width: 100px; } }
@media only screen and (max-width: 575px) { .header-logo { width: 70px; } }

.header-main { padding-left: 155px; height: 100%; font-family: 'Noto Serif JP', serif; font-size: 24px; }
@media only screen and (max-width: 767px) { .header-main { padding-left: 115px; font-size: 18px; } }
@media only screen and (max-width: 575px) { .header-main { padding-left: 80px; font-size: 16px; line-height: 1.3; } }

/* MainVisual */
/*--------------------------------------------------*/
/*.mainvisual { height: 390px; margin-top: -85px; }*/
/* Slider */
/*--------------------------------------------------*/
.slider-nav-wrapper { width: 900px; margin: auto; background-color: black; padding: 10px 30px; position: absolute; left: 0; right: 0; bottom: -60px; margin: auto; }

.slider-nav-img { /*  height: 100px;*/ overflow: hidden; }

.slider-nav-img img { margin: 0 7px; }

.mainvisual-inner { position: relative; }

.slider-nav .slick-slide { position: relative; }

.slider-nav .slick-slide:not(.slick-current)::after { content: ''; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); position: absolute; left: 0; top: 0; pointer-events: none; }

.slider-nav .slider-nav-text { display: none; width: 100%; position: absolute; top: 40.0%; line-height: 1.1; margin: auto; color: #FFF; z-index: 100; text-align: center; font-size: 20px; font-family: 'Noto Serif JP', serif; pointer-events: none; }

.slider-nav .slick-slide:hover .slider-nav-text { display: block; }

@media (max-width: 991px) { .slider-nav-wrapper { width: 600px; } }
@media (max-width: 767px) { .slider-nav-wrapper { width: 450px; }
  .slider-nav-img img { width: 100px; }
  .slider-nav .slider-nav-text { font-size: 16px; } }
@media (max-width: 575px) { .slider-nav-wrapper { width: 90%; }
  .slider-nav .slider-nav-text { font-size: 12px; } }
@media (max-width: 400px) { .slider-nav-wrapper { width: 100%; } }
.header-naviFolding-main > li { border-bottom: 1px solid #CCC; }
.header-naviFolding-main > li > a { padding: 10px 15px; }
.header-naviFolding-main > li > ul { background-color: #EFEFEF; display: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; margin-left: 15px; }
.header-naviFolding-main > li > ul > li:not(:last-child) { border-bottom: 1px solid #CCC; }
.header-naviFolding-main > li > ul > li > a { position: relative; padding-left: 1.5em; }
.header-naviFolding-main > li > ul > li > a::before { content: ''; position: absolute; top: 50%; left: 10px; width: 5px; height: 5px; margin-top: -3px; border-top: 2px solid #333; border-right: 2px solid #333; transform: rotate(45deg); }
.header-naviFolding-main > li > ul > li > a:hover::before { border-top: 2px solid; border-right: 2px solid; }
.header-naviFolding-main a { display: block; padding: 10px 0; }

.has-icon-plus-after { color: #333; position: relative; }
.has-icon-plus-after::before { content: ''; position: absolute; width: 10px; height: 2px; background-color: currentColor; top: calc(20px + 0px); right: 15px; }
.has-icon-plus-after::after { content: ''; position: absolute; width: 10px; height: 2px; top: 20px; right: 15px; background-color: currentColor; -webkit-transform: rotate(90deg); transform: rotate(90deg); }

.has-icon-plus-after.__avtive { color: #333; position: relative; }
.has-icon-plus-after.__avtive::before { content: ''; position: absolute; width: 10px; height: 2px; background-color: currentColor; top: 20px; right: 15px; }
.has-icon-plus-after.__avtive::after { display: none; }

.gmap-all { position: relative; }
.gmap-all::after { content: ''; top: 0; left: 0; position: absolute; width: 80%; height: 300px; background-color: #6ea364; z-index: -1; }
@media only screen and (max-width: 575px) { .gmap-all::after { width: 100%; } }
.gmap-all::before { content: ''; top: 50px; right: 0; position: absolute; width: 100%; height: 450px; background-color: #F4F4F4; z-index: -2; }
@media only screen and (max-width: 767px) { .gmap-all::before { top: 30px; } }
.gmap-all__map-area { height: 350px; width: 100%; }

.breadcrumb { margin-top: 15px; margin-bottom: 15px; }
.breadcrumb span[property="itemListElement"], .breadcrumb span.current-item { background-color: #c04c41; color: #FFF; height: 30px; padding: 0 5px 0 22px; display: inline-block; margin-right: 5px; padding-top: 5px; margin-bottom: 3px; position: relative; }
.breadcrumb span[property="itemListElement"] > a:hover, .breadcrumb span.current-item > a:hover { text-decoration: underline; }
.breadcrumb span[property="itemListElement"]::before, .breadcrumb span.current-item::before { content: ''; position: absolute; left: 0; top: 0; z-index: 10; width: 0; height: 0; border-style: solid; border-width: 15px 0 15px 15px; border-color: transparent transparent transparent #FFF; }
.breadcrumb span[property="itemListElement"]::after, .breadcrumb span.current-item::after { content: ''; position: absolute; right: -15px; top: 0; z-index: 20; width: 0; height: 0; border-style: solid; border-width: 15px 0 15px 15px; border-color: transparent transparent transparent #c04c41; }

.breadcrumb span.current-item { background-color: #CCC; color: #333; }
.breadcrumb span.current-item::after { border-left-color: #CCC; }

/* BOX */
/*--------------------------------------------------*/
.box-1 { width: 100%; border: 1px solid #CCC; box-shadow: 1.5px 2.598px 0px 0px rgba(0, 0, 0, 0.1); }

.box-1-thumb { float: left; width: 120px; padding: 10px; }

.box-1-main { float: left; width: calc(100% - 120px - 135px); padding: 10px; }

.box-1-btn { float: left; width: 135px; height: 100%; }

.box-1-bottom { display: none; border-top: 1px dotted #CCC; padding: 0 10px 10px 10px; }

.box-1-btnTop { border-left: 1px dotted #CCC; border-bottom: 1px dotted #CCC; height: 50%; }
.box-1-btnTop > a { display: table; width: 100%; height: 100%; }
.box-1-btnTop > a > span { display: table-cell; vertical-align: middle; text-align: center; }

.box-1-btnBottom { border-left: 1px dotted #CCC; height: 50%; }
.box-1-btnBottom > a { display: table; width: 100%; height: 100%; }
.box-1-btnBottom > a > span { display: table-cell; height: 100%; text-align: center; vertical-align: middle; }

@media only screen and (max-width: 1199px) { .box-1-2col .box-1-btnText { display: none; }
  .box-1-2col .box-1-main { width: calc(100% - 120px - 50px); }
  .box-1-2col .box-1-btn { width: 50px; }
  .box-1-2col .box-1-main .taglist-1 { display: none; }
  .box-1-2col .box-1-bottom { display: block; } }
@media only screen and (max-width: 767px) { .box-1-2col .box-1-btnText { display: inline; }
  .box-1-2col .box-1-main { width: calc(100% - 120px - 135px); }
  .box-1-2col .box-1-btn { width: 135px; }
  .box-1-2col .box-1-main .taglist-1 { display: block; }
  .box-1-2col .box-1-bottom { display: none; } }
@media only screen and (max-width: 575px) { .box-1-2col .box-1-btnText { display: none; }
  .box-1-2col .box-1-main { width: calc(100% - 120px - 50px); }
  .box-1-2col .box-1-btn { width: 50px; }
  .box-1-2col .box-1-main .taglist-1 { display: none; }
  .box-1-2col .box-1-bottom { display: block; } }

.box-1-3col .box-1-thumb { width: 150px; padding-right: 5px; }
.box-1-3col .box-1-map { width: 150px; float: left; padding: 10px; padding-left: 5px; }
.box-1-3col .box-1-main { width: calc(100% - 300px - 135px); }
.box-1-3col .box-1-btn { width: 135px; }
@media only screen and (max-width: 767px) { .box-1-3col .box-1-btnText { display: none; }
  .box-1-3col .box-1-thumb { width: 100px; }
  .box-1-3col .box-1-map { width: 100px; }
  .box-1-3col .box-1-main { width: calc(100% - 200px - 50px); }
  .box-1-3col .box-1-btn { width: 50px; } }
@media only screen and (max-width: 575px) { .box-1-3col .box-1-main .taglist-1 { display: none; }
  .box-1-3col .box-1-bottom { display: block; }
  .box-1-3col .box-1-thumb { width: 50%; border-bottom: 1px dotted #CCC; }
  .box-1-3col .box-1-map { width: 50%; border-bottom: 1px dotted #CCC; }
  .box-1-3col .box-1-main { width: calc(100% - 50px); } }

/* box-2 */
.box-2 { border: 1px solid #CCC; height: 100%; }

.box-2-main { padding: 15px; background-color: #FFF; }

.box-2-main-inner { display: table; width: 100%; }

.box-2-subttl { display: table; width: 100%; border-bottom: 1px solid #CCC; background-color: #eeeeee; }

.box-2-subttl-num { display: table-cell; width: 50px; background-color: #c04c41; color: #FFF; font-size: 30px; text-align: center; vertical-align: middle; font-family: 'Noto Serif JP', serif; }

.box-2-subttl-main { display: table-cell; width: calc(100% - 65px); font-size: 22px; vertical-align: middle; padding-left: 15px; }

.box-2-main-thumb { display: table-cell; width: 100px; text-align: center; vertical-align: top; }

.box-2-main-text { display: table-cell; width: calc(100% - 100px); }

.box-2-main-text > p { margin-left: 15px; }

@media (min-width: 768px) and (max-width: 991px) { .box-2-main-thumb { text-align: center; margin-bottom: 10px; }
  .box-2-main-thumb, .box-2-main-text { display: block; width: 100%; }
  .box-2-main-text > p { margin-left: inherit; }
  .box-2-subttl-main { font-size: 18px; } }
@media (max-width: 767px) { .box-2 { margin-bottom: 15px; } }
@media (max-width: 575px) { .box-2-subttl-main { font-size: 18px; } }
/* box-3 */
@media only screen and (min-width: 768px) { .box3::after { content: ""; display: block; clear: both; }
  .box3 .box3-sub { float: left; width: 170px; }
  .box3 .box3-main { float: left; width: calc(100% - 170px); padding-left: 30px; } }
@media only screen and (max-width: 767px) { .box3 .box3-main { margin-top: 30px; } }

@media only screen and (min-width: 768px) { .box3-ttl { margin-top: 10px; } }
@media only screen and (max-width: 767px) { .box3-ttl { margin-bottom: 10px; }
  .box3-ttl::before { content: '● '; } }

/* box4 */
.box4 { font-size: 15px; }
@media only screen and (min-width: 576px) { .box4::after { content: ""; display: block; clear: both; }
  .box4 .box4-thumb { float: left; width: 270px; } }
@media only screen and (min-width: 576px) and (max-width: 767px) { .box4 .box4-thumb { width: 200px; } }
@media only screen and (min-width: 576px) { .box4 .box4-main { float: left; width: calc(100% - 270px); } }
@media only screen and (min-width: 576px) and (max-width: 767px) { .box4 .box4-main { width: calc(100% - 200px); } }
@media only screen and (min-width: 576px) { .box4 .box4-main-inner { padding-left: 30px; } }
@media only screen and (max-width: 575px) { .box4 .box4-main { margin-top: 15px; } }

.box4-text { line-height: 2.0em; }

.box4-thumb__map iframe { width: 100% !important; height: 300px !important; }

/* block5 */
.block5 { background-color: #F4F4F4; padding: 50px 0; }
.block5--nobg { background: none; }
.block5-ttl { font-size: 24px; font-family: 'Noto Serif JP', serif; text-align: center; border-bottom: 1px solid #CCC; padding: 30px 0; }
.block5-ttl--gray { background-color: #F4F4F4; border-radius: 10px 10px 0 0; padding: 20px 0; }

.block5__inner { background-color: #FFF; border-radius: 10px; border: 1px solid #CCC; }

.block5__boxmain { padding: 30px 30px 50px 30px; }

.block5__lead { font-size: 20px; font-family: 'Noto Serif JP', serif; }

/* block7 */
.block7 { background-color: #FFF; padding: 50px 0; }
.block7-ttl { font-size: 24px; font-family: 'Noto Serif JP', serif; text-align: center; border-bottom: 1px solid #CCC; padding: 30px 0; }

.block7__inner { border-radius: 10px; border: 1px solid #CCC; }

.block7__boxmain { padding: 30px 30px 30px 30px; }

.block7__lead { font-size: 20px; font-family: 'Noto Serif JP', serif; }

.block-7__main { margin-top: 30px; }

.block-7__list { flex-wrap: wrap; margin: 0 -15px; }

.block-7__item { width: calc(100% / 5); padding: 0 15px; margin-bottom: 15px; }

.list-7__title-main { text-align: center; }

.box-7 { padding: 10px; margin: -10px; }
@media only screen and (min-width: 576px) { .box-7 { -webkit-transition: all 0.25s 0s linear; -moz-transition: all 0.25s 0s linear; -ms-transition: all 0.25s 0s linear; -o-transition: all 0.25s 0s linear; transition: all 0.25s 0s linear; }
  .box-7:hover { box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3); } }

/* layout2 */
.layout2 { padding: 50px 0; }

/* layout3 */
.layout3-slider { margin: 0 -10px; }
.layout3-slider .slick-slide { padding: 0 10px; }

.layout3-slider-box { display: block; position: relative; }
.layout3-slider-box .layout3-hoverBox { position: absolute; left: 0; top: 55%; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); color: #FFF; padding: 15px; -webkit-transition: top 0.25s 0s linear; -moz-transition: top 0.25s 0s linear; -ms-transition: top 0.25s 0s linear; -o-transition: top 0.25s 0s linear; transition: top 0.25s 0s linear; }
@media only screen and (max-width: 991px) { .layout3-slider-box .layout3-hoverBox { padding: 5px; } }
.layout3-slider-box .layout3-hoverBox h3 { margin-bottom: 7px; font-size: 14px; font-weight: bold; position: relative; overflow: hidden; height: calc(1em * 1.4); padding-right: 1em; line-height: 1.4; }
.layout3-slider-box .layout3-hoverBox h3:before { content: "..."; position: absolute; right: 0; bottom: 0; display: inline-block; width: 1em; }
.layout3-slider-box .layout3-hoverBox h3:after { content: ""; position: relative; right: calc(1em * -1); float: right; width: 1em; height: 100%; margin-left: calc(1em * -1); }
.layout3-slider-box .layout3-hoverBox p { font-size: 12px; position: relative; overflow: hidden; height: calc(2em * 1.4); padding-right: 1em; line-height: 1.4; margin-bottom: 16px; }
.layout3-slider-box .layout3-hoverBox p:before { content: "..."; position: absolute; right: 0; bottom: 0; display: inline-block; width: 1em; }
.layout3-slider-box .layout3-hoverBox p:after { content: ""; position: relative; right: calc(1em * -1); float: right; width: 1em; height: 100%; margin-left: calc(1em * -1); }
@media only screen and (max-width: 991px) { .layout3-slider-box .layout3-hoverBox p { margin-bottom: 10px; } }
.layout3-slider-box:hover .layout3-hoverBox { top: 0%; }

.layout3-slider .slide-arrow { position: absolute; top: 35%; z-index: 100; width: 30px; cursor: pointer; -webkit-transition: all 0.25s 0s linear; -moz-transition: all 0.25s 0s linear; -ms-transition: all 0.25s 0s linear; -o-transition: all 0.25s 0s linear; transition: all 0.25s 0s linear; top: 0; width: 30px; height: 100%; display: table; background-color: rgba(0, 0, 0, 0.7); }
@media only screen and (min-width: 768px) { .layout3-slider .slide-arrow { background-color: rgba(0, 0, 0, 0); } }
.layout3-slider .slide-arrow > ._inner { display: table-cell; height: 100%; width: 100%; text-align: center; vertical-align: middle; }
.layout3-slider .slide-arrow > ._inner .icon-svg-arrow { margin-top: 25%; stroke: #FFF; }
@media only screen and (min-width: 768px) { .layout3-slider .slide-arrow > ._inner .icon-svg-arrow { stroke: #000; } }
.layout3-slider .slide-arrow.prev-arrow { left: 0; }
@media only screen and (min-width: 768px) { .layout3-slider .slide-arrow.prev-arrow { left: -20px; } }
.layout3-slider .slide-arrow.next-arrow { right: 0; }
@media only screen and (min-width: 768px) { .layout3-slider .slide-arrow.next-arrow { right: -20px; } }

.layout3-thumb { background-repeat: no-repeat; background-size: cover; width: 100%; height: 200px; }
@media only screen and (max-width: 991px) { .layout3-thumb { height: 150px; } }
@media only screen and (max-width: 767px) { .layout3-thumb { height: 165px; } }
@media only screen and (max-width: 575px) { .layout3-thumb { height: 168px; } }

@media only screen and (max-width: 991px) { .layout3-slider .btn-2 a, .layout3-slider .btn-2._red > a { padding: 1px 0; } }

/* layout5 */
.layout5-inner { padding: 70px 0 50px 0; }

.layout5-container { position: relative; }

.layout5-ttl { position: absolute; width: 100%; top: -30px; left: 0; z-index: 50; }

/* Gallery */
/*--------------------------------------------------*/
.gallery { margin: 0 -7.5px; }
.gallery__item { width: calc(100% / 4); padding: 0 7.5px; margin-bottom: 15px; }

/* list */
/*--------------------------------------------------*/
.list1 > li { border-bottom: 1px dashed #CCC; padding: 10px 0; }

.dlList1::after { content: ""; display: block; clear: both; }
.dlList1__item--label { float: left; width: 85px; text-align: center; position: relative; }
.dlList1__item--label::after { content: ''; position: absolute; right: 0; top: 10%; height: 80%; width: 2px; background-color: #000; }
.dlList1__item--value { float: left; width: calc( 100% - 85px ); padding-left: 20px; }

.list2 > li { padding: 30px; }

.list2 > li:not(:last-child) { border-bottom: 1px dashed #CCC; }

.list-7__main { padding-top: 5px; }
.list-7__title-main { font-weight: bold; }

.sidebox { border: 1px solid #CCC; box-shadow: 1.5px 2.598px 0px 0px rgba(0, 0, 0, 0.1); padding: 10px 10px 5px 10px; }

.sidebox-ttl { background-color: #F4F4F4; text-align: center; padding: 10px; font-weight: bold; }

.sidebox-main { margin-top: 3px; }
.sidebox-main > li:not(:last-child) { border-bottom: 1px dashed #CCC; }
.sidebox-main > li { position: relative; padding: 7px 0; }
.sidebox-main > li::before { content: ''; position: absolute; top: 50%; left: 2px; width: 7px; height: 7px; margin-top: -3px; border-top: 2px solid #777; border-right: 2px solid #777; transform: rotate(45deg); }
.sidebox-main > li:hover::before { border-top: 2px solid; border-right: 2px solid; }
.sidebox-main > li > a { display: block; padding: 7px 15px; }
.sidebox-main > li:hover a { background-color: #F4F4F4; }

/* google map infowindow */
/*--------------------------------------------------*/
.infwin { width: 300px; }
.infwin .infwin-thumb { float: left; width: 80px; }
.infwin .infwin-thumb img { width: 100%; }
.infwin .infwin-main { float: left; width: calc(100% - 80px); padding-left: 10px; }

.infwin-link { margin-top: 5px; }
.infwin-link > a { padding-left: 15px; border-bottom: 1px dashed #CCC; position: relative; }
.infwin-link > a:hover { border: none; }
.infwin-link > a::before { content: ''; position: absolute; top: 50%; left: 2px; width: 5px; height: 5px; margin-top: -5px; border-top: 2px solid #000; border-right: 2px solid #000; transform: rotate(45deg); }
.infwin-link > a:hover::before { border-top: 2px solid; border-right: 2px solid; }

.tab-container .panel { display: none; }
.tab-container .panel.is-show { display: block; }

/* TAB */
/*--------------------------------------------------*/
/* tab-1 */
.tab-1 { margin: 0 50px; }

.tab-1 > li { float: left; margin-right: 5px; }

.tab-1 > li._active { border-top: 4px solid #e1e1e1; border-left: 4px solid #e1e1e1; border-right: 4px solid #e1e1e1; margin-bottom: -4px; }

.tab-1 > li._active > a { display: block; border-top: 8px solid #f4f4f4; border-left: 8px solid #f4f4f4; border-right: 8px solid #f4f4f4; margin-bottom: -8px; }

.tab-1 > li._active > a > span { display: block; padding: 10px 15px; font-size: 16px; border-top: 1px solid #e4e4e4; border-left: 1px solid #e4e4e4; border-right: 1px solid #e4e4e4; margin-bottom: -5px; background-color: #FFF; position: relative; }

.tab-1 > li._active > a > span::after { content: ''; position: absolute; left: 0; bottom: -1px; height: 1px; width: 100%; background-color: #FFF; }

.tab-1 > li:not(._active) { margin-top: 7px; }

.tab-1 > li:not(._active) > a { display: block; }

.tab-1 > li:not(._active) > a > span { display: block; padding: 5px 15px; font-size: 16px; background-color: #c04c41; color: #FFF; }

@media (max-width: 575px) { .tab-1 > li._active > a > span { font-size: 12px; padding: 5px; padding-bottom: 15px; }
  .tab-1 > li:not(._active) > a > span { font-size: 12px; padding: 5px; }
  .tab-1 { margin-left: 0px; }
  .tab-1 > li._active > a { border-top: 4px solid #f4f4f4; border-left: 4px solid #f4f4f4; border-right: 4px solid #f4f4f4; margin-bottom: -10px; }
  .tab-1 > li { margin-right: 1px; } }
/* tabcontent-1 */
.tabcontent-1 { margin-top: 0px; border-top: 4px solid #e1e1e1; }

.tabcontent-1-inner { border-top: 8px solid #f4f4f4; background-color: #f4f4f4; }

.tabcontent-1-main { background-color: #FFF; border: 1px solid #e1e1e1; margin-bottom: 10px; padding: 30px; }

@media (max-width: 575px) { .tabcontent-1-main { padding: 10px; } }
.tab-2 { overflow: hidden; }

.tab-2-list { display: inline-block; position: relative; padding-left: 15px; }
.tab-2-list::after { content: ""; display: block; clear: both; }
.tab-2-list::before { position: absolute; content: ''; left: -1000px; width: 1015px; bottom: 0; height: 1px; background-color: #000; }
.tab-2-list::after { position: absolute; content: ''; left: 100%; width: 3000px; bottom: 0; height: 1px; background-color: #777; }
.tab-2-list > li { float: left; }
.tab-2-list > li > a { display: block; padding: 5px 15px; background-color: #FFF; line-height: 1; height: 30px; }
.tab-2-list > li:not(._active) { border-bottom: 1px solid #777; }
.tab-2-list > li._active { border-top: 1px solid #777; border-left: 1px solid #777; border-right: 1px solid #777; }
.tab-2-list > li._active > a { font-size: 18px; border-left: 5px solid #6ea364; }

.list-2 > li:not(:last-child) { border-bottom: 1px dashed #CCC; }
.list-2 > li { position: relative; }
.list-2 > li::after { content: ''; position: absolute; top: 50%; right: 15px; width: 15px; height: 15px; margin-top: -5px; border-top: 1px solid #CCC; border-right: 1px solid #CCC; transform: rotate(45deg); }
.list-2 > li:hover::after { border-top: 1px solid; border-right: 1px solid; }

.list-2-box::after { content: ""; display: block; clear: both; }
.list-2-box > ._sub { display: block; }
@media only screen and (max-width: 575px) { .list-2-box > ._sub { padding: 15px 15px 5px 15px; } }
@media only screen and (min-width: 576px) { .list-2-box > ._sub { float: left; width: 120px; height: 100%; text-align: center; padding-top: 25px; } }
.list-2-box > ._main { display: block; }
@media only screen and (max-width: 575px) { .list-2-box > ._main { padding: 5px 15px 15px 15px; } }
@media only screen and (min-width: 576px) { .list-2-box > ._main { float: left; width: calc(100% - 120px); padding: 15px 10px; } }
.list-2-box ._small { font-size: 12px; }

.sform { margin-top: 15px; font-size: 16px; background-color: #F4F4F4; padding: 20px; border-radius: 10px; border: 1px dashed #CCC; margin-bottom: 15px; }
.sform__row { border-bottom: 1px dotted #CCC; padding: 10px 0; }

.sform__col-label { width: 150px; font-weight: bold; position: relative; }
.sform__col-label::after { content: ''; width: 1px; height: 80%; position: absolute; top: 10%; right: 0; background-color: #CCC; }

.sform__col-main { width: calc(100% - 150px); padding-left: 15px; }

.sform__sword { font-weight: bold; }

.nav-pagelink { display: inline-block; margin-bottom: 10px; }
.nav-pagelink::after { content: ""; display: block; clear: both; }
.nav-pagelink__item { float: left; margin-bottom: 5px; padding: 0 1px; position: relative; }
.nav-pagelink__item:hover::after { bottom: -5px; }
.nav-pagelink__item::after { content: '»'; position: absolute; left: 50%; bottom: -3px; transform: rotate(90deg); color: #FFF; }
.nav-pagelink__item > a { padding: 5px 15px 10px 15px; display: block; background-color: #6ea364; color: #FFF; }

/* block1 */
.block1 { background-color: #F4F4F4; padding-top: 50px; }
.bloc1__inner { background-color: #FFF; border-radius: 20px; border: 1px solid #DDD; }

.block1__ttl { border-bottom: 1px solid #DDD; padding: 20px; font-family: 'Noto Serif JP', serif; font-size: 24px; text-align: center; }
.block1__ttl--subttl { font-size: 16px; display: block; }

.block1__main { padding: 20px; background-color: #FFF; }

.block1__map-main { width: 100%; height: 50vh; }

.block1__panel { width: 100%; height: 50vh; overflow-y: scroll; margin-top: 15px; }

.block1__spots { margin: 0 -30px; }
.block1__spots::after { content: ""; display: block; clear: both; }

.block1__spots-origin { float: left; width: 50%; padding: 0 30px; position: relative; }
@media only screen and (max-width: 575px) { .block1__spots-origin { width: 100%; margin-bottom: 50px; } }
.block1__spots-origin::after { content: ''; position: absolute; top: 50%; right: -10px; width: 0; height: 0; border-style: solid; border-width: 10px 0 10px 17.3px; border-color: transparent transparent transparent #c04c41; }
@media only screen and (max-width: 575px) { .block1__spots-origin::after { transform: rotate(90deg); top: calc(100% + 15px); right: calc(50% + 10px); } }

.block1__spots-destin { float: left; width: 50%; padding: 0 30px; position: relative; }
@media only screen and (max-width: 575px) { .block1__spots-destin { width: 100%; } }

.block1__spots-origin::after, .block1__spots-destin::after { content: ""; display: block; clear: both; }

.block1__post-ttl { text-align: center; font-size: 16px; margin-bottom: 10px; position: relative; background-color: #777; color: #FFF; }
.block1__post-ttl--strong { font-weight: bold; }

.block1__spots-photo { float: left; width: 200px; text-align: center; }
@media only screen and (max-width: 991px) { .block1__spots-photo { width: 120px; } }
@media only screen and (max-width: 991px) { .block1__spots-photo { width: 100%; margin-bottom: 5px; } }
.block1__spots-photo > img { width: 100%; }

.block1__spots-text { float: left; width: calc(100% - 200px); padding-left: 15px; }
@media only screen and (max-width: 991px) { .block1__spots-text { width: calc(100% - 120px); } }
@media only screen and (max-width: 991px) { .block1__spots-text { width: 100%; padding: 0; } }

.block1__main-content { margin-top: 30px; }

.block1__spotlist-item { border-bottom: 1px dashed #CCC; padding: 5px 0; }

/* block13 */
.block13 { background-color: #6ea364; padding-top: 30px; position: relative; }
.block13::after { content: ''; position: absolute; bottom: -37px; right: calc(50% - 15px); width: 0; height: 0; border-style: solid; border-width: 25px 0 25px 25px; border-color: transparent transparent transparent #6ea364; transform: rotate(90deg); }
.block13__inner { background-color: #FFF; border-bottom: 30px solid #6ea364; padding: 30px; }
@media only screen and (max-width: 575px) { .block13__inner { padding: 15px; } }

.block13__text { margin-top: 30px; text-align: center; }

.block13__text-inner { font-size: 14px; display: inline-block; text-align: left; }

.block13__list-wrapper { margin: auto; }

.block13__list { margin: 0 -15px; margin-right: -20px; }
.block13__list::after { content: ""; display: block; clear: both; }

.block13__list-item { padding: 0 15px; float: left; width: calc(100%  / 5); margin-bottom: 15px; position: relative; }
@media only screen and (max-width: 991px) { .block13__list-item { width: calc(100%  / 3); } }
@media only screen and (max-width: 767px) { .block13__list-item { width: calc(100%  / 2); } }
@media only screen and (max-width: 575px) { .block13__list-item { width: calc(100%  / 1); margin-bottom: 50px; } }
.block13__list-item:not(:last-child)::after { content: ''; position: absolute; top: 35%; right: -10px; width: 0; height: 0; border-style: solid; border-width: 10px 0 10px 17.3px; border-color: transparent transparent transparent #c04c41; }
@media only screen and (max-width: 575px) { .block13__list-item:not(:last-child)::after { transform: rotate(90deg); top: calc(100% + 20px); right: 50%; } }

.block13__box > img { width: 100%; }

.block13__box-step { display: inline-block; font-size: 16px; background-color: #6ea364; color: #FFF; padding: 2px 10px; }
.block13__box-step--origin { background-color: #c04c41; }
.block13__box-step--destin { background-color: #c04c41; }

.block13__box-ttl { font-weight: bold; margin-top: 5px; }
@media only screen and (max-width: 575px) { .block13__box-ttl { font-size: 14px; } }

.block13__box-text { margin-top: 5px; font-size: 13px; }
@media only screen and (max-width: 575px) { .block13__box-text { margin-top: 0; } }

.block13__read { text-align: center; font-size: 24px; }
@media only screen and (max-width: 767px) { .block13__read { font-size: 18px; } }

.block13__read-inner { display: inline-block; text-align: left; }

.block13__box-link { text-align: center; margin-top: 10px; }

.block13__box-linkmain { background-color: #333; color: #FFF; padding: 5px 0; display: block; }

/* block2 */
/*--------------------------------------------------*/
.block2__list { flex-wrap: wrap; margin: 0 -15px; }

.block2__list-item { width: 50%; padding: 0 15px; margin-bottom: 15px; }
.block2__list-item--col1 { width: 100%; }
@media only screen and (max-width: 767px) { .block2__list-item { width: 100%; } }

.block2__box { border: 1px solid #CCC; box-shadow: 1.5px 2.598px 0px 0px rgba(0, 0, 0, 0.1); padding: 15px; }

.block2__box-inner { justify-content: space-between; }

.block2__thumb { width: 125px; }
.block2__thumb > img { width: 100%; }
@media only screen and (max-width: 575px) { .block2__thumb { width: 75px; } }

.block2__main { width: calc(100% - 125px); padding-left: 15px; position: relative; font-size: 13px; padding-bottom: 35px; }
@media only screen and (max-width: 575px) { .block2__main { width: calc(100% - 75px); } }

.block2__thumb-main { width: 100%; display: inline-block; }

.block2__link { position: absolute; margin: auto; bottom: 0; left: 15px; width: calc(100% - 15px); margin-top: 5px; padding: 3px 0; display: block; color: #FFF; font-size: 13px; text-align: center; background-color: #6ea364; }
.block2__link > span { display: inline-block; }

.block2__ttk { font-size: 16px; font-weight: bold; }
.block2__ttk--small { font-size: 12px; font-weight: normal; }
@media only screen and (max-width: 991px) { .block2__ttk--small { display: block; } }

.block2__lead-inner { font-size: 20px; font-family: 'Noto Serif JP', serif; }

/* btn-1 */
.btn-1 { text-align: center; margin-top: 30px; }

.btn-1 > a { display: block; margin: auto; background-color: #6ea364; box-shadow: 1px 1.732px 1px 0px rgba(0, 0, 0, 0.3); color: #FFF; padding: 5px 20px; font-size: 18px; font-weight: bold; max-width: 350px; }

/* btn-2 */
.btn-2 { text-align: center; margin-top: 5px; }

.btn-2 > a { color: #FFF; background-color: #6ea364; padding: 5px 0; font-size: 14px; font-weight: normal; position: relative; max-width: 300px; border: 1px solid #6ea364; box-sizing: border-box; display: block; margin: auto; }
.btn-2 > a:hover { border-color: #6ea364; background-color: #FFF; color: #6ea364; }

.btn-2._red > a { color: #FFF; background-color: #c04c41; padding: 5px 0; font-size: 14px; font-weight: normal; position: relative; max-width: 300px; border: 1px solid #c04c41; box-sizing: border-box; display: block; }
.btn-2._red > a:hover { border-color: #c04c41; background-color: #FFF; color: #c04c41; }

.button__1--reset { background-color: #777 !important; }
.button__1--reset:hover { background-color: rgba(119, 119, 119, 0.7) !important; }

/* Title */
/*--------------------------------------------------*/
.ttl1 { font-size: 20px; }

/* Title */
/*--------------------------------------------------*/
.ttl-1 { font-size: 50px; font-family: "Noto Serif JP", serif; color: #FFF; }

.ttl-1-inner::after { content: '目的のピンをクリックすると記事がポップアップします。'; font-size: 18px; margin-left: 15px; }

@media (max-width: 991px) { .ttl-1 { font-size: 24px; }
  .ttl-1-inner::after { font-size: 14px; } }
@media (max-width: 767px) { .ttl-1-inner::after { display: block; margin-left: 0; } }
.title-1__main { display: block; font-family: "Noto Serif JP", serif; font-size: 26px; }
@media only screen and (max-width: 575px) { .title-1__main { font-size: 20px; } }

.title-1__sub { display: block; font-family: "Noto Serif JP", serif; font-size: 16px; margin-bottom: -5px; }
.title-1__sub--l { font-size: 20px; margin-bottom: -3px; }
@media only screen and (max-width: 575px) { .title-1__sub { font-size: 14px; } }

.title-2 { font-family: "Noto Serif JP", serif; border-bottom: 1px solid #CCC; text-align: center; font-size: 24px; padding-bottom: 15px; }

.ttl-3 { font-size: 26px; font-family: 'Noto Sans JP', sans-serif; font-weight: bold; }

.ttl-3-sub { color: #df5656; display: block; }

.ttl-3-main { display: block; }

@media (max-width: 767px) { .ttl-3 { font-size: 20px; } }
.ttl-4 { font-size: 20px; overflow: hidden; }
.ttl-4 > span { padding-left: 15px; display: inline-block; position: relative; }
.ttl-4 > span::before { content: ''; position: absolute; width: 7px; height: 80%; top: 10%; left: 0; background-color: #c04c41; }
.ttl-4 > span::after { content: ''; position: absolute; top: 45%; right: -1000px; width: 980px; height: 1px; background-color: #777; }

/* ttl-5 */
.ttl-5 { overflow: hidden; text-align: center; font-size: 20px; }
.ttl-5 > span { display: inline-block; position: relative; }
.ttl-5 > span::before { content: ''; height: 1px; width: 1000px; background-color: #000; position: absolute; top: 50%; right: calc(100% + 30px ); }
.ttl-5 > span::after { content: ''; height: 1px; width: 1000px; background-color: #000; position: absolute; top: 50%; left: calc(100% + 30px ); }

/* Sub title */
/*--------------------------------------------------*/
.subttl-1 { font-size: 16px; font-weight: bold; }

.subttl-1-mini { font-size: 12px; font-weight: normal; }

/* Quote */
/*--------------------------------------------------*/
.quote1-link { display: block; }

.quote1-ttl { margin-top: 15px; font-size: 12px; }

.quote1-main { margin-top: 15px; border-left: 5px solid #CCC; padding-left: 10px; }

/* link-color-1 */
/*--------------------------------------------------*/
.link-color-1 { color: #5a89f3; }

/* link-1 */
/*--------------------------------------------------*/
.link-1 ._icon { -webkit-transition: all 0.25s 0s linear; -moz-transition: all 0.25s 0s linear; -ms-transition: all 0.25s 0s linear; -o-transition: all 0.25s 0s linear; transition: all 0.25s 0s linear; }
.link-1:hover ._icon { transform: rotateY(360deg); }
.link-1:hover ._linkText { border-bottom: 1px dashed #5a89f3; }

/* line */
.line1 { margin: 0; height: 0; border: 0; border-top: 1px solid #CCC; border-bottom: 1px solid #fff; }

/*# sourceMappingURL=common.css.map */
