@charset "utf-8";





/* pagetop170 */
/*--------------------------------------------------*/
.pagetop170 {
  font-size: 28px;
  position: fixed;
  z-index: 2147483647;
  right: 25px;
  bottom: 25px;
  display: none;
  width: 1.75em;
  height: 1.75em;
  padding: 0;
  color: #fafafa;
  border: none;
  border-radius: 50%;
  background-color: #888;
}
@media (max-width: 575px) {
  .pagetop170 {
    right: 10px;
    bottom: 40px;
  }
}
.pagetop170 i {
  line-height: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1em;
  height: 1em;
  margin: auto;
}
.pagetop170 i::before {
  margin: 0;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
.ua-ie .pagetop170 i::before {
  animation: pagetop170-fix-ie 10ms infinite;

  animation-fill-mode: both;
}
@keyframes pagetop170-fix-ie {
  0% {
    margin: .1px;
  }
  100% {
    margin: 0;
  }
}
.pagetop170:hover i {
  -webkit-animation: pagetop170 1000ms;
          animation: pagetop170 1000ms;
}
.pagetop170-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
@-webkit-keyframes pagetop170 {
  15% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
}
@keyframes pagetop170 {
  15% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
}



/* breadcrumbs168 */
/*--------------------------------------------------*/
.breadcrumbs168 .breadcrumbs {
  font-size: 14px;
  line-height: 1.3;
  margin: 5px -5px 0;
}
.breadcrumbs168 .breadcrumbs > span {
  margin: 0 5px;
  vertical-align: middle;
}
.breadcrumbs168 .breadcrumbs a {
  -webkit-transition: color 100ms;
          transition: color 100ms;
}
.ua-nontouch .breadcrumbs168 .breadcrumbs a:hover {
  color: #00a9c7;
}
@media (max-width: 575px) {
  .breadcrumbs168 .breadcrumbs {
    display: none;
  }
}




/* subvisual224 */
/*--------------------------------------------------*/
.subvisual224 {
  height: 350px;
  background-position: center;
  background-size: cover;
}
@media (max-width: 767px) {
  .subvisual224 {
    height: 120px;
  }
}




/* title204 */
/*--------------------------------------------------*/
.title204-text {
  font-size: 26px;
  line-height: 1.3;
  padding: 10px 0;
  text-align: center;
}
.title204-text > span {
  position: relative;
  display: inline-block;
  padding: 0 .5em;
}
.title204-text > span::before,
.title204-text > span::after {
  position: absolute;
  top: 50%;
  width: 2500%;
  content: '';
}
.title204-text > span::before {
  right: 100%;
}
.title204-text > span::after {
  left: 100%;
}
@media (max-width: 767px) {
  .title204-text {
    font-size: 22px;
  }
}
.title204-text {
  overflow: hidden;
}
.title204-text > span::before,
.title204-text > span::after {
  border-top: 1px solid #aaa;
}
@media (max-width: 767px) {
  .title204 .container-fluid {
    padding: 0;
  }
  .title204-text {
    padding: 10px;
  }
}







/* sidebar */
/*--------------------------------------------------*/
.widget {
  border: 1px solid #CCC;
  margin-bottom: 15px;
}
.widget-title {
  text-align: center;
  padding: 10px 15px;
  border-bottom: 1px solid #CCC;
  font-weight: bold;
}

.widget > ul {}
.widget > ul > li > a {
  display: block;
  padding: 10px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
      -ms-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
}
.widget > ul > li:hover > a {
  background-color: #EFEFEF;
}
.widget > ul > li > a:after {
  font-family: 'fontello';
  content: '\e802';
  position: absolute;
  right: 15px;
}
.widget > ul > li:hover > a:after {
  right: 10px;
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
      -ms-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
}
.widget > ul > li:not(:last-child) {
  border-bottom: 1px dashed #CCC;
}
.widget select {
  margin: 10px 5%;
  width: 90%;
}
.widget_categories select {
  margin-top: 0px;
}
.screen-reader-text {
  display: block;
  margin: 15px auto 0 auto;
  width: 88%;
}

/* カレンダー */
.widget_calendar table {
  width: 100%;
}
.widget_calendar td, .widget_calendar th {
  text-align: center;
  padding: 3px 7px;
}
.widget_calendar thead {
  border-top: 1px solid #CCC;
}
.widget_calendar thead th,
.widget_calendar tbody td {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.widget_calendar caption {
  text-align: center;
  font-size: 16px;
  padding: 7px 0;
}
.widget_calendar a {
  color: blue;
  text-decoration: underline;
}
.widget_calendar tfoot td {
  padding: 7px 0;
}
/* 検索 */
.widget_search {
  border: none;
}
.widget_search .widget-title {
  border: 1px solid #CCC;
  border-bottom: none;
}

.widget ul.children {
  border-top: 1px dotted #CCC;
}
.widget ul.children li {
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
      -ms-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
}
.widget ul.children li a:before { content: '├ ';}
.widget ul.children li:last-child a:before { content: '└ ';}
.widget ul.children li a {
  display: block;
  padding: 13px 15px 7px 10px;
}
.widget ul.children li:hover > a {
  background-color: #EFEFEF;
}
.widget ul.children li > a:after {
  font-family: 'fontello';
  content: '\e802';
  position: absolute;
  right: 30px;
}
.widget ul.children li:hover > a:after {
  right: 25px;
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
      -ms-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
}




.searchform {
  position: relative;
}
.searchform input[type="search"] {
  width: 100%;
}
.searchfield {
  font-size: 14px;
  padding: 7px;
}
.searchsubmit {
  font-size: 20px;
  width: 35px;
  height: 30px;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
}
/* カスタムメニュー */
.widget_nav_menu li > a {
  display: block;
  padding: 10px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
      -ms-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
}
.widget_nav_menu li:hover > a {
  background-color: #EFEFEF;
}
.widget_nav_menu li > a:after {
  font-family: 'fontello';
  content: '\e802';
  position: absolute;
  right: 15px;
}
.widget_nav_menu li:hover > a:after {
  right: 10px;
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
      -ms-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
}
.widget_nav_menu li:not(:last-child) {
  border-bottom: 1px dashed #CCC;
}
/* タグクラウド */
.widget_tag_cloud .tagcloud {
  padding: 10px 15px;
}

/* タイトル */
.single-title {
  border-bottom: 1px solid #CCC;
  font-size: 20px;
  padding-bottom: 10px;
}
/* カテゴリー名 */
.news-cat-tag {
  background-color: #CCC;
  padding: 2px 10px;
  margin-right: 3px;
}
/* 次の記事 */
.single-arrow-next {
  text-align: right;
}
/* アーカイブのページネーション */
.pagenation {
  text-align: center;
}
.page-numbers {
  background-color: #333;
  color: #FFF;
  padding: 5px 10px;
}
.page-numbers.current {
  background-color: #FFF;
  border: 1px solid #333;
  color: #333;
}
/* 最近のコメント */
.widget_recent_comments .recentcomments {
  padding: 10px 15px;
}
.widget_recent_comments .recentcomments a {
  text-decoration: underline;
}
.widget_recent_comments .recentcomments a:after {
  content: none;
}
.widget_recent_comments .recentcomments:hover > a {
  background: none;
}




/* oEmbedをレスポンシブ化 */
/*--------------------------------------------------*/

.wp-embedded-content {
  max-width: 100%;
}


/* hamburger */
/*--------------------------------------------------*/
/*@media (min-width: 992px) {
  .spnavi-hamburger {
    display: none;
  }
}*/
@media (max-width: 991px) {
  .spnavi-hamburger {
    -webkit-transition: 440ms;
    transition: 440ms;
    text-align: center;
  }
  .spnavi-scrolled .spnavi-hamburger {
  }
}
.spnavi-hamburger-text {
  font-size: 10px;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-top: -2px;
  -webkit-transition: color 440ms;
  transition: color 440ms;
  color: #000;
}
/*
** Hamburgers
** @description Tasty CSS-animated hamburgers
** @author Jonathan Suh @jonsuh
** @site https://jonsuh.com/hamburgers
** @link https://github.com/jonsuh/hamburgers
*/
.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-property: opacity, -webkit-filter;
  -webkit-transition-property: opacity, filter, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}
.ua-nontouch .hamburger:hover {
  opacity: .7;
}
.hamburger-box {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 15px;
}
.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  position: absolute;
  width: 25px;
  height: 3px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  border-radius: 4px;
  background-color: #000;
}
.hamburger-inner::before,
.hamburger-inner::after {
  display: block;
  content: '';
}
.hamburger-inner::before {
  top: -7px;
}
.hamburger-inner::after {
  bottom: -7px;
}
/* Spin */
.hamburger-spin .hamburger-inner {
  -webkit-transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}
.hamburger-spin .hamburger-inner::before {
  -webkit-transition: top .1s .34s ease-in, opacity .1s ease-in;
  transition: top .1s .34s ease-in, opacity .1s ease-in;
}
.hamburger-spin .hamburger-inner::after {
  -webkit-transition: bottom .1s .34s ease-in, -webkit-transform .3s cubic-bezier(.55, .055, .675, .19);
  -webkit-transition: bottom .1s .34s ease-in, -webkit-transform .3s cubic-bezier(.55, .055, .675, .19), -webkit-transform .3s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .1s .34s ease-in, -webkit-transform .3s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .1s .34s ease-in, transform .3s cubic-bezier(.55, .055, .675, .19);
  transition: bottom .1s .34s ease-in, transform .3s cubic-bezier(.55, .055, .675, .19), -webkit-transform .3s cubic-bezier(.55, .055, .675, .19);
}
html.spnavi-opened .hamburger-spin .hamburger-inner {
  -webkit-transition-delay: .14s;
  transition-delay: .14s;
  -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
html.spnavi-opened .hamburger-spin .hamburger-inner::before {
  top: 0;
  -webkit-transition: top .1s ease-out, opacity .1s .14s ease-out;
  transition: top .1s ease-out, opacity .1s .14s ease-out;
  opacity: 0;
}
html.spnavi-opened .hamburger-spin .hamburger-inner::after {
  bottom: 0;
  -webkit-transition: bottom .1s ease-out, -webkit-transform .3s .14s cubic-bezier(.215, .61, .355, 1);
  -webkit-transition: bottom .1s ease-out, -webkit-transform .3s .14s cubic-bezier(.215, .61, .355, 1), -webkit-transform .3s .14s cubic-bezier(.215, .61, .355, 1);
  transition: bottom .1s ease-out, -webkit-transform .3s .14s cubic-bezier(.215, .61, .355, 1);
  transition: bottom .1s ease-out, transform .3s .14s cubic-bezier(.215, .61, .355, 1);
  transition: bottom .1s ease-out, transform .3s .14s cubic-bezier(.215, .61, .355, 1), -webkit-transform .3s .14s cubic-bezier(.215, .61, .355, 1);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}




/* Header */
/*--------------------------------------------------*/

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
}
.header-inner {}
.header-logo,
.header-main,
.header-navi { float: left; }
.header-logo { width: 170px; }
.header-navi { width: 50px; }
.header-main { width: calc(100% - 170px - 50px); }
.header-h { height: 85px; }
@media (max-width: 991px) {
  .header-logo { width: 140px; }
  .header-main { width: calc(100% - 140px - 50px); }
  .header-h { height: 70px; }
}
@media (max-width: 650px) {
  .header-logo { width: 100px; }
  .header-main { width: calc(100% - 100px - 50px); }
  .header-h { height: 50px; }
}
@media (max-width: 575px) {
  .header-logo { width: 85px; }
  .header-main { width: calc(100% - 85px - 50px); }
  .header-h { height: 43px; }
}

/* MainVisual */
/*--------------------------------------------------*/

/*.mainvisual { height: 390px; margin-top: -85px; }*/
.mainvisual {
  margin-top: 85px;
}
@media (max-width: 991px) {
  .mainvisual { margin-top: 70px; }
}
@media (max-width: 650px) {
  .mainvisual { margin-top: 50px; }
}
@media (max-width: 575px) {
  .mainvisual { margin-top: 43px; }
}

/* Slider */
/*--------------------------------------------------*/

.slider-nav-wrapper {
  width: 900px;
  margin: auto;
  background-color: black;
  padding: 10px 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  margin: auto;
}
.slider-nav {
}
.slider-nav-img {
  height: 100px;
  overflow: hidden;
}
.slider-nav-img > img {
  width: 140px;
  margin: 0 7px;
}

.mainvisual-inner {
  position: relative;
}

.slider-nav .slick-slide {
  position: relative;
}
.slider-nav .slick-slide:not(.slick-current)::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  left: 0; top: 0;
  pointer-events: none;
}
.slider-nav .slick-slide.slick-current {}
.slider-nav .slider-nav-text {
  display: none;
  /*display: block;*/
  width: 100%;
  position: absolute;
  top: 40.0%;
  line-height: 1.1;
  margin: auto;
  color: #FFF;
  z-index: 100;
  text-align: center;
  font-size: 20px;
  font-family: 'Noto Serif JP', serif;
  pointer-events: none;
}
.slider-nav .slick-slide:hover .slider-nav-text {
  display: block;
}


/* モバイルファースト */
/*@media (min-width: 576px) {*/
/*@media (min-width: 768px) {*/
/*@media (min-width: 992px) {*/
@media (min-width: 1200px) {
}
/*デスクトップファースト */
@media (max-width: 1199px) {
/*@media (max-width: 991px) {*/
/*@media (max-width: 767px) {*/
/*@media (max-width: 575px) {*/
}