@charset "UTF-8";

/* Fonts */
/*--------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.font-noto-serif-jp {
  font-family: 'Noto Serif JP', serif;
}
.font-noto-sans-jp {
  font-family: 'Noto Sans JP', sans-serif;
  transform: rotate(10deg);
}

/* Font set */
/*--------------------------------------------------*/

.fontSize5 { font-size: 24px; }

/* Font set */
/*--------------------------------------------------*/

.fontSet5 {
  font-family: 'Noto Serif JP', serif;
  font-size: 24px;
}
@media (max-width: 991px) {
  .fontSet5 {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .fontSet5 {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .fontSet5 {
    font-size: 12px;
  }
}


.slider-nav-img {
  width: 140px;
}

.container-1170 { @include container( $width-xl: 1170px, $width-lg: 970px, $width-md: 750px ) }

.bg-lightGray { background-color: $color-lightGray !important; }
.bg-lightGray2 { background-color: $color-lightGray2 !important; }
.bg-gray { background-color: $color-gray !important; }

.borderTop { border-top: 1px solid $color-gray; }
.borderBtn { border-bottom: 1px solid $color-gray; }

.table {
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.table-cell.__left {
  text-align: left;
}

.color-white { color: #FFF; }
.color-lightBrue { color: $color-lightBrue; }
.color-lightGray { color: $color-lightGray; }
.bgColor-white { background-color: #FFF; }
.bgColor-lightBrue { background-color: $color-lightBrue; }
.bgColor-lightGray { background-color: $color-lightGray; }

.underline-dotted { border-bottom: 1px dotted $color-gray; }
.underline-solid { border-bottom: 1px solid $color-gray; }
.underline-dashed { border-bottom: 1px dashed $color-gray; }

.borderT-dotted { border-top: 1px dotted $color-gray; }
.borderT-solid { border-top: 1px solid $color-gray; }
.borderT-dashed { border-top: 1px dashed $color-gray; }
.border-dotted { border: 1px dotted $color-gray; }
.border-solid { border: 1px solid $color-gray; }
.border-dashed { border: 1px dashed $color-gray; }

.inner-wide { padding: 50px; }
.inner-normal { padding: 30px; }
.inner-narrow { padding: 15px; }

// <span class="table">
// <span class="table-cell __left">

// </span>
// </span>

.block { display: block; }
.inline-block { display: inline-block; }
.valign-middle { vertical-align: middle };

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}
.hover-nonUnderline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.fadeIn-1 {
  opacity: 0;
  // アニメーション設定
  animation-name:fadeIn1;
  animation-duration:0.25s; //アニメーション時間
  animation-timing-function: ease-out; //アニメーションさせるイージング
  animation-delay:0s; //アニメーション開始させる時間
  animation-iteration-count:1; //繰り返し回数
  animation-direction:normal; //往復処理をするかどうか
  animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
}
// アニメーション
@keyframes fadeIn1 {
  0% {opacity: 0}
  100% {opacity: 1}
}