@charset "UTF-8";

.container-1170 { @include container( $width-xl: 1170px, $width-lg: 970px, $width-md: 750px ) }

.bg-lightGray { background-color: $color-lightGray !important; }

.borderTop { border-top: 1px solid $color-gray; }
.borderBtn { border-bottom: 1px solid $color-gray; }

.table {
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.table-cell.__left {
  text-align: left;
}

.color-lightBrue {
  color: $color-lightBrue;
}

.underline-dotted {
  border-bottom: 1px dotted $color-gray;
}

// <span class="table">
// <span class="table-cell __left">

// </span>
// </span>