@charset "UTF-8";

.container-1170 { @include container( $width-xl: 1170px, $width-lg: 970px, $width-md: 750px ) }

.bg-lightGray { background-color: $color-lightGray !important; }

.borderTop { border-top: 1px solid $color-gray; }
.borderBtn { border-bottom: 1px solid $color-gray; }